.login-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3em;
    margin-left: 4em;

}

.login-child {
    flex: 0 1 40%;
    justify-content: space-around;
}

.btn-login {
    background-color: #cc0044;
    width: 90%;
    color: white;
    border: 2px solid #cc0044;
    font-size: 18px;
    margin-top: 1em;
}

@media(min-width:1024px) {
    .login-body {
        flex-direction: row;
        margin: 3em;
        margin-right: 8em;
        margin-left: 12em;
    }

}